{% extends "base.html" %}

{% block content %}
<h1 class="title">Transaction "{{ transaction.title }}" Details</h1>
<p><strong>Title:</strong> {{ transaction.title }}</p>
<p><strong>Type:</strong> {{ transaction.get_type_display }}</p>
<p><strong>Category:</strong> {{ transaction.category }}</p>
<p><strong>Amount:</strong></p><p class="{% if transaction.type == 'i' %}text-success{% elif transaction.type == 'e' %}text-danger{% endif %}">{{ transaction.amount }}€</p>
{% if transaction.description %}
<p><strong>Description:</strong> {{ transaction.description | safe }}</p>
{% endif %}
<a class="btn btn-secondary btn-sm" href="{% url 'my-transaction-update' object.id %}">Edit</a>
<a class="btn btn-danger btn-sm" href="{% url 'my-transaction-delete' object.id %}">Delete</a>
<a class="btn btn-primary btn-sm" href="{% url 'my-transactions' %}">Back</a>
<div style="margin-left:20px;margin-top:20px">
    <h4>History of "{{ transaction.category }}" transactions ({{ transaction_set.count }}):</h4>
    {% for transaction in transaction_set.all %}
    <hr>
    <p><strong>Title:</strong> {{ transaction.title }}</p>
    <p><strong>Category:</strong> {{ transaction.category }}</p>
    <p class="{% if transaction.type == 'i' %}text-success{% elif transaction.type == 'e' %}text-danger{% endif %}">
        {{ transaction.get_type_display }} {{ transaction.amount }}€
    </p>
    <p>{{ transaction.date }}</p>
    {% endfor %}
</div>
{% endblock %}